
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,400;1,700;1,900&display=swap');


body {
	font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 100%;
    font-style: normal;
	margin: 0;
	padding: 0;
}
/* The default font size in CSS is 16px
    1em = 16px 
    Most times when working with em's there's some issues you might encounter 
    So it's best to use % and em
*/
header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

header h4 {
    font-size: 24px;
	margin: 0;
}

h1{
    font-size: 64px;
    text-align: center;
}
nav ul {
    font-size: 12px;
    text-align: center;
	margin: 0;
	padding: 24;
	list-style: none;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	color: #ffcc00;
}

main {
	padding: 20px;
}

section {
	margin-bottom: 50px;
}
.home{
    color: grey;
}

#projects {
	display: flex;
	padding: 16px;
	text-align: center;
	flex-direction: space-evenly;
	width: 100%;
	background-color: black;
	color: white;
	border: 1px solid black;

}

.left {

	font-size: 16px;
	text-align: center;

}
.center {

	font-size: 16px;
	text-align: center;

}
.right {

	font-size: 16px;
	text-align: center;

}